# Archives
.archive/

# Project's build
# Can be generated anytime via npm run build
# Do not ignore config files
build/*
!build/*.xml
!build/*.webmanifest

# Dependencies
node_modules/

# Workspaces
*.code-workspace
