<footer class="footer">
  <div class="footer--inner">
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i class="fab fa-github"></i></span>
        <a href="https://github.com/hydria-dev" rel="noopener">github.com/hydria</a>
      </li>
      <li>
        <span class="fa-li"><i class="fab fa-digital-ocean"></i></span>
        <a href="https://m.do.co/c/1d4ea250d46d" rel="noopener">digitalocean/hydria</a>
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-at"></i></span>
        <a href="mailto:hello@hydria.dev" rel="noopener">hello@hydria.dev</a>
      </li>
    </ul>
    <div class="footer--copyright">
      Droits d'auteurs <i class="far fa-copyright"></i> Les membres
      fondateurs d'Hydria (2021). Tous droits réservés.
    </div>
  </div>
</footer>