<a href="/#hero" class="header--nav--link hide">
  <!-- Hidden; used internally only -->
</a>
<a href="/#expertise" class="header--nav--link">Expertise</a>
<a href="/#manifeste" class="header--nav--link">Manifeste</a>
<a href="/#info" class="header--nav--link">Dernière nouvelles</a>
<a href="/#contact" class="header--nav--link">Contactez-nous</a>
<a href="/" class="header--nav--link">English</a>