<!DOCTYPE html>
<html lang="fr">
  <%- include("_head.ejs", { 
    name: "Hydria",
    siteName: "hydria.dev",
    description: "Des outils innovants pour s’attaquer au risque hydrologique",
    keywords: "hydria",
    host: "https://hydria.dev",
    logoPath: "/images/logo-192.png",
    stylesheet: "/stylesheets/index.css", 
    script: "/javascripts/bundle.js" 
  }); %>

  <body>
    <header class="header">
      <div class="header--inner">
        <div class="header--logo">
          <a href="/">
            <img
              src="/images/logo-picto-blue.svg"
              alt="Logo d'Hydria"
              height="48"
            />
          </a>
          <a href="/" class="header--logo-name">
            Hydr<span class="header--logo-name--ia">ia</span>
          </a>
        </div>

        <!-- Full width navigation menu -->
        <nav class="header--nav"><%- include("_header-links"); %></nav>

        <!-- Mobile navigation menu button -->
        <div class="header--mobile-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>

      <!-- Mobile navigation menu -->
      <nav class="header--mobile-nav hide">
        <%- include("_header-links"); %>
      </nav>
    </header>

    <section id="hero" class="hero">
      <div class="hero--inner">
        <div class="hero--title">
          Hydr<span class="hero--title--ia">ia</span>
        </div>
        <div class="hero--subtitle">
          Des outils innovants pour s’attaquer au risque hydrologique
        </div>
        <div class="hero--down">
          <a href="/#expertise">
            <i class="fas fa-angle-down"></i>
          </a>
        </div>
      </div>
    </section>

    <section id="expertise" class="section">
      <div class="hero-banner bg-flood-1">
        <div class="hero-banner--inner">
          Et pour mieux prévoir ses
          <span class="hero-banner--keyword">conséquences</span>.
        </div>
      </div>
      <div class="expertises">

        <div class="expertise">
          <div class="expertise--icon">
            <i class="fas fa-database"></i>
          </div>
          <div class="expertise--title">Données</div>
          <div class="expertise--subtitle">
            Traitement, standardisation et nettoyage
          </div>
          <div class="expertise--desc">
            Les données sont au centre de notre stratégie. Nous nous engageons à
            rendre disponible l'ensemble de nos bases de données, nos mises en
            correspondance et nous outils de traitement.
          </div>
          <div class="expertise--bullets">
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Données structurées et non-structurées
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Croisements de plusieurs types de données
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Gestion des données manquantes et imputation
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Données sur rivières et stations non-jaugées
              </li>
            </ul>
          </div>
        </div>

        <div class="expertise">
          <div class="expertise--icon">
            <i class="fas fa-chart-line"></i>
          </div>
          <div class="expertise--title">Modélisation</div>
          <div class="expertise--subtitle">
            Conception, ajustement et calibration
          </div>
          <div class="expertise--desc">
            Les modèles sont le carburant des décisions éclairées. Nous nous
            engageons à partager les détails de notre méthodologie et à
            communiquer les forces et faiblesses de notre approche.
          </div>
          <div class="expertise--bullets">
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Quantification financière du risque
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Événements extrêmes et dépendance
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Simulations à grandes échelle des pertes
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Non-stationnarité et changements climatiques
              </li>
            </ul>
          </div>
        </div>
        <div class="expertise">
          <div class="expertise--icon">
            <i class="fas fa-server"></i>
          </div>
          <div class="expertise--title">Technologie</div>
          <div class="expertise--subtitle">
            Opérationalisation et hébergement
          </div>
          <div class="expertise--desc">
            Une décision éclairée s'appuie sur une implantation robuste et
            fiable. Nous nous engageons à fournir une technologie de pointe et à
            respecter les principes du code ouvert.
          </div>
          <div class="expertise--bullets">
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Implementation de solutions
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Accès sécurisé et données protégées
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Interface de programmation sur mesure
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span>
                Services infonuagiques
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="manifeste" class="section manifesto">
      <div class="section--inner">
        <div class="section--title">Manifeste</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          pulvinar risus in enim volutpat, a dignissim odio condimentum. Quisque
          eget tempus ex. Cras iaculis non purus vehicula ultrices. Maecenas at
          justo in sapien venenatis mollis. Suspendisse rutrum tincidunt nulla,
          ac porttitor leo fringilla et. Etiam id eros a nunc sagittis dapibus.
          Nam dui tellus, placerat vel luctus vel, rhoncus eu nunc. Phasellus
          vestibulum mi ut sem feugiat vestibulum. Nulla scelerisque dui quis
          pellentesque accumsan. Sed et interdum elit. Phasellus non elementum
          felis, non iaculis massa. Ut erat dolor, aliquam in dui in, dictum
          suscipit nunc.
        </p>
      </div>
      <div class="hero-banner bg-flood-2">
        <div class="hero-banner--inner">
          Une <span class="hero-banner--keyword">nouvelle</span> approche.
        </div>
      </div>
    </section>

    <section id="info" class="section">
      <div class="section--inner">
        <div class="section--title blue">Dernières nouvelles</div>
        <p>
          Hydria est une organisation dont le statut est encore embryonnaire.
          Nous communiquerons nos avancements ici sous peu.
        </p>
      </div>
    </section>

    <section id="contact" class="section contact">
      <div class="section--inner">
        <div class="section--title">Vous avez une question?</div>
        <p>
          Une inquiétude? Une suggestion? Une proposition? Écrivez-nous à
          <a href="mailto:hello@hydria.dev" class="contact--email" rel="noopener">
            hello@hydria.dev</a>.
        </p>
      </div>
    </section>

    <footer class="footer">
      <div class="footer--inner">
        <ul class="fa-ul">
          <li>
            <span class="fa-li"><i class="fab fa-github"></i></span>
            <a href="https://github.com/hydria-dev" rel="noopener">github.com/hydria</a>
          </li>
          <li>
            <span class="fa-li"><i class="fab fa-digital-ocean"></i></span>
            <a href="https://m.do.co/c/1d4ea250d46d" rel="noopener">digitalocean/hydria</a>
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-at"></i></span>
            <a href="mailto:hello@hydria.dev" rel="noopener">hello@hydria.dev</a>
          </li>
        </ul>
        <div class="footer--copyright">
          Droits d'auteurs <i class="far fa-copyright"></i> Les membres
          fondateurs d'Hydria (2021). Tous droits réservés.
        </div>
      </div>
    </footer>
  </body>
</html>
