<section id="contact" class="section contact">
  <div class="section--inner">
    <div class="section--title">Vous avez une question?</div>
    <p>
      Une inquiétude? Une suggestion? Vous êtes intéressé par notre expertise?
      Écrivez-nous à
      <a href="mailto:hello@hydria.dev" class="section--email" rel="noopener">
        hello@hydria.dev</a>.
    </p>
  </div>
</section>
