<section id="expertise" class="section">
  <div class="hero-banner bg-flood-1">
    <div class="hero-banner--inner">
      Et pour mieux prévoir ses
      <span class="hero-banner--keyword">conséquences</span>.
    </div>
  </div>
  <div class="expertises">

    <div class="expertise">
      <div class="expertise--icon">
        <i class="fas fa-database"></i>
      </div>
      <div class="expertise--title">Données</div>
      <div class="expertise--subtitle">
        Traitement, standardisation et nettoyage
      </div>
      <div class="expertise--desc">
        Les données sont au centre de notre stratégie. Nous nous engageons à
        rendre disponible l'ensemble de nos bases de données, nos mises en
        correspondance et nos outils de traitement.
      </div>
      <div class="expertise--bullets">
        <ul class="fa-ul">
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Données structurées et non-structurées
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Croisements de plusieurs types de données
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Gestion des données manquantes et imputation
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Données sur rivières et stations non-jaugées
          </li>
        </ul>
      </div>
    </div>

    <div class="expertise">
      <div class="expertise--icon">
        <i class="fas fa-chart-line"></i>
      </div>
      <div class="expertise--title">Modélisation</div>
      <div class="expertise--subtitle">
        Conception, ajustement et calibration
      </div>
      <div class="expertise--desc">
        Les modèles sont le carburant des décisions éclairées. Nous nous
        engageons à partager les détails de notre méthodologie et à
        communiquer les forces et faiblesses de notre approche.
      </div>
      <div class="expertise--bullets">
        <ul class="fa-ul">
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Quantification financière du risque
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Événements extrêmes et dépendance
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Simulations à grandes échelle des pertes
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Non-stationnarité et changements climatiques
          </li>
        </ul>
      </div>
    </div>
    <div class="expertise">
      <div class="expertise--icon">
        <i class="fas fa-server"></i>
      </div>
      <div class="expertise--title">Technologie</div>
      <div class="expertise--subtitle">
        Opérationnalisation et hébergement
      </div>
      <div class="expertise--desc">
        Une décision éclairée s'appuie sur une implantation robuste et
        fiable. Nous nous engageons à fournir une technologie de pointe et à
        respecter les principes du code ouvert.
      </div>
      <div class="expertise--bullets">
        <ul class="fa-ul">
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Implantation de solutions
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Accès sécurisé et données protégées
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Interface de programmation sur mesure
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check-square"></i></span>
            Services infonuagiques
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
