<section id="hero" class="hero">
  <div class="hero--inner">
    <div class="hero--title">
      Hydr<span class="hero--title--ia">ia</span>
    </div>
    <div class="hero--subtitle">
      Des outils innovants pour s’attaquer au risque hydrologique
    </div>
    <div class="hero--down">
      <a href="/#expertise">
        <i class="fas fa-angle-down"></i>
      </a>
    </div>
  </div>
</section>
