<section id="info" class="section">
  <div class="section--inner">
    <div class="section--title blue">Dernières nouvelles</div>
    <p>
      Hydria est une organisation dont le statut est encore embryonnaire.
      Nous communiquerons nos avancements ici sous peu.
    </p>
  </div>
</section>
