<section id="manifeste" class="section manifesto">
  <div class="section--inner">
    <div class="section--title">Manifeste</div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
      pulvinar risus in enim volutpat, a dignissim odio condimentum. Quisque
      eget tempus ex. Cras iaculis non purus vehicula ultrices. Maecenas at
      justo in sapien venenatis mollis. Suspendisse rutrum tincidunt nulla,
      ac porttitor leo fringilla et. Etiam id eros a nunc sagittis dapibus.
      Nam dui tellus, placerat vel luctus vel, rhoncus eu nunc. Phasellus
      vestibulum mi ut sem feugiat vestibulum. Nulla scelerisque dui quis
      pellentesque accumsan. Sed et interdum elit. Phasellus non elementum
      felis, non iaculis massa. Ut erat dolor, aliquam in dui in, dictum
      suscipit nunc.
    </p>
  </div>
  <div class="hero-banner bg-flood-2">
    <div class="hero-banner--inner">
      Une <span class="hero-banner--keyword">nouvelle</span> approche.
    </div>
  </div>
</section>
