<section id="manifeste" class="section manifesto">
  <div class="section--inner">
    <div class="section--title">Manifeste</div>
    <p>
      Nous sommes Hydria. Nous sommes des scientifiques, des statisticiens, des hydrologues.
      Nous sommes créatifs, passionnés et ambitieux. Mais, nous sommes
      <span class="yellow">éco-inquiets</span>.
      
      Nous reconnaissons que le changement climatique est un fléau, une bombe à retardement,
      dont le compte à rebours est inconnu. Nous croyons que la société minimise sa vulnérabilité
      aux périls climatiques et hydrologiques. Les conséquences seront
      <span class="yellow">dévastatrices</span>.
      
      Nous voulons faire partie de la solution. Nous voulons partager avec vous nos connaissances
      et briser le cycle mercantile. Le <span class="yellow">statut quo</span> n'est plus une option.
      Vous faites partie de la solution. Ensemble, <span class="yellow">passons à l’action</span>.
      
      Écrivez-nous : hello@hydria.dev.
    </p>
  </div>
  <div class="hero-banner bg-flood-2">
    <div class="hero-banner--inner">
      Une <span class="hero-banner--keyword">nouvelle</span> approche.
    </div>
  </div>
</section>
