<section id="manifeste" class="section manifesto">
  <div class="section--inner">
    <div class="section--title">Manifeste</div>
    <p>
      Nous sommes Hydria. Nous sommes des scientifiques, des statisticiens, des
      hydrologues. Nous sommes créatifs, passionnés et ambitieux.
    </p>
    <p>Nous sommes <span class="yellow">inquiets</span>.</p>
    <p>
      Nous reconnaissons que le changement climatique est un fléau, une bombe à
      retardement, dont le compte à rebours est
      <span class="yellow">inconnu</span>. Nous croyons que la société minimise
      sa vulnérabilité aux périls climatiques et hydrologiques.
    </p>
    <p>Les conséquences seront <span class="yellow">dévastatrices</span>.</p>
    <p>
      Nous voulons faire partie de la solution. Nous voulons partager nos
      connaissances avec vous et briser le cycle mercantile.
    </p>
    <p>Le <span class="yellow">statut quo</span> n'est plus une option.</p>
    <p>Vous faites partie de la solution. Ensemble, passons à l’action.</p>
    <p>
      <span class="yellow">Écrivez-nous.</span>
    </p>
  </div>
  <div class="hero-banner bg-flood-2">
    <div class="hero-banner--inner">
      Une <span class="hero-banner--keyword">nouvelle</span> approche.
    </div>
  </div>
</section>
