// _sections-index.scss
// Component: styles of specific index page's sections


@use 'variables' as v;


// Section manifesto -----------------------------------------------------------

.manifesto {
  color: v.$white;

  background-color: v.$indigo;
}

// Section contact -------------------------------------------------------------

.contact {
  color: v.$white;

  background-color: v.$grey;
}