// errors.scss
// Page: error pages (404, etc.)


@use 'variables' as v;
@use 'containers' as c;
@use 'document';
@use 'header';
@use 'images';
@use 'utils';


// Main container --------------------------------------------------------------

.error {
  @extend %flex-col-center;

  height: 100vh;

  color: v.$white;
  font-size: 4rem;
  font-weight: 700;

  @media only screen and (max-width: v.$threshold-ui-mobile) {
    & {
      font-size: 2rem;
    }
  }

  &--code {
    padding: 0.2rem 0.5rem;

    color: v.$indigo;

    background-color: v.$yellow;
  }
}
